.form {
    margin: 30px;
}

.form__legend {
    padding: 20px;
    border: 4px solid #66fcf1;
    border-radius: 20px;
    font-weight: bold;
}

.form__fieldset {
    padding: 0 30px;
    border: 4px solid #66fcf1;
    border-radius: 25px;
}

.form__paragraph {
    margin-bottom: 20px;
}

.form__labelText {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    padding: 5px;
}

.form__input {
    max-width: 100px;
    width: 100%;
    text-align: center;
}

.form__select {
    max-width: 100px;
    width: 100%;
    text-align: center;
}

.form__paragraph--result {
    margin-top: 40px;
    border-top: 2px dotted white;
    padding: 10px;
}

.form__button {
    margin: 25px;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    background-color: #66fcf1;
    font-weight: bold;
}

.form__button:hover {
    cursor: pointer;
    background-color: #66fcf296;
}