html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    background-color: #2E3138;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}